<!DOCTYPE html>
<html lang='en' ng-app='evtApp'>
<head>
	<meta charset='UTF-8'>
	<title>ngEvent</title>
	<link rel='stylesheet' href='css/bootstrap.min.css' />
	<link rel='stylesheet' href='css/app.css' />
</head>
<body ng-cloak>
	<div class='container-fluid'>
		<div class='navbar'>
			<div class='navbar-inner'>
				<ul class='nav'>

				</ul>
			</div>
		</div>
		<div ng-controller='EventController'>
			<img ng-src="{{ event.imageUrl }}" alt="{{event.name}}" />
			<div class='row'>
				<div class='span11'>
					<h2 ng-style='mystyle' ng-bind-template='{{event.name | uppercase }}'></h2>
				<hr />
				</div>
			</div>
			<p> Disabled directive</p>
			<button ng-disabled='buttonDisabled' class='btn'>Disabled</button>
				<br />
				<hr />
				<div>
					{{ 3.1415926535 | number:2 }}&nbsp; <span>PI, using the Number filter</span>
				</div>
				<div>
					{{ { a:3, b:'Hello', c:{aa:49} } | json }}
				</div>
				<hr />
			<div ng-non-bindable>
				This is a non-bindable directive:	{{ 1 + 2 }}
			</div>
			<hr />
			<div ng-style='mycolor' ng-bind-html-unsafe='snippet'>some title</div>
			<hr />
			<div ng-class='myClass' ng-bind-html='snippet'>some title</div>
			<hr />
			<h2 ng-class='myclass' ng-show='boolValue'>Show This</h2>
			<h2 ng-hide='boolValue'>Hide This</h2>

			<div class='row'>
				<div class='span3'>
					<div><strong>Date: </strong>{{ event.date | date:'mediumDate' }}</div>
					<div><strong>Time: </strong>{{ event.time }}</div>
					<div><strong>Price: </strong>{{ 34 | currency : "zł " }}</div>
				</div>
				<div class='span4'>
					<address>
						<strong>Address:</strong><br>
						{{ event.location.address }}<br>
						{{ event.location.city }}, {{ event.location.state }}
						{{ event.location.zip }}
					</address>
				</div>
			</div>

			<hr />

			<p>3 * 10  = <span>{{ 3 * 10 }}</span></p><br>
			{{ 'Hello' + 'Angular' }}<br>
			{{ [1,2,3][2] }}<br>

			<hr />

			<h3>Sessions</h3>

			Order by:
			<select ng-model='sortorder' class='input-small'>
				<option selected value="name">Name</option>
				<option value='-upVoteCount'>Votes</option>
			</select>


			<ul class='thumbnails'>
				<li ng-repeat='session in event.sessions | orderBy:sortorder | limitTo:2'>
					<div class='row session'>
					<div class='span0 well votingWidget'>
						<div class='votingButton' ng-click='upVoteSession(session)'>
							<i class='icon-chevron-up icon-white'></i>
						</div>
						<div class='badge'>
							<div>{{ session.upVoteCount }}</div>
						</div>
						<div class='votingButton' ng-click='downVoteSession(session)'>
							<i class='icon-chevron-down'></i>
						</div>
					</div>
						<div class='well span5'>
							<h4 class='well-title'>{{ session.name }} </h4>
							<h6>{{ session.presenter }}</h6>
							<span>Duration: {{ session.duration }}</span><br>
							<span>Level: {{ session.level }}</span><br />
							<p><strong>{{session.abstract}}</strong></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
					<!-- SCRIPT GO HERE -->
	<script src='./lib/jquery.min.js'></script>
	<script src='./lib/underscore-1.4.4.min.js'></script>
	<script src='./lib/bootstrap.min.js'></script>
	<script src='./lib/angular/angular.js'></script>
	<script src='./lib/angular/angular-sanitize.js'></script>
	<script src='./js/app.js'></script>
	<script src='./js/controllers/EventController.js'></script>
</body>
</html>
